<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Get all devices</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
<div th:switch="${devices}" class="container my-5" style="text-align: center">
    <div class="row">
        <div class="col-md-6">
            <h2 th:case="null">No devices yet!</h2>
            <div th:case="*">
                <h2 class="my-5">Devices</h2>
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="device : ${devices}">
                        <td th:text="${device.id}"></td>
                        <td th:text="${device.name}"></td>
                        <td th:text="${device.address}"></td>
                        <td><a th:href="@{/device/edit/{id}(id=${device.id})}">Edit</a></td>
                        <td><a th:href="@{/device/delete/{id}(id=${device.id})}">Delete</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p class="my-5"><a href="/auth_index" class="btn btn-primary">Return to main page</a></p>
        </div>
    </div>
</div>
</body>
</html>