<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Password Manager</title>
    </head>
    <body>
        <h1 style="text-align: center">Password Management System</h1>
        <h3 style="text-align: center">Sign in for work with system!</h3>
        <p style="text-align: center">&nbsp;</p>
        <p style="text-align: center">&nbsp;</p>

        <p style="text-align: center">
            <a href="/login">
                <input type="button" value="SIGN IN"/>
            </a>
        </p>
    </body>
</html>